

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap');






* {
    margin:0;
    padding:0;
}



nav {
    background-color: black;
    width:100%;
    height:75px;
    font-size: 27px;
    color:white;
    display:flex;
    align-items: center;
    padding: 0 12px;

    
}
nav li {
    list-style-type: none;
}
.game-Container {
    display:flex;
    
    justify-content: center;
    margin-top: 50px;

    font-family: 'Baloo bhaina 2',sans-serif;
}

.Container {
    display:grid;
    grid-template-rows: repeat(3,10vw) ;
    grid-template-columns: repeat(3,10vw) ;
}
.box{
    
    border : 1px solid black;
    display:flex;
    font-size:8vw;
    cursor:pointer;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(217,180,252);
}

.Imgbox img {
    width :  0;
    transition : width 1s ease-in-out;
}



.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}


.btn {
    margin : 0 23px;
    border-radius : 6px;
    padding : 6px 14px;
    background-color: #e5c7e6;
    cursor: pointer;
}

.Info
{
    font-size: 25px;
}
